In [1]:
import pandas as pd
import torch
import tensorqtl
import numpy as np
import seaborn as sns
from tensorqtl import genotypeio, cis, trans
print(f'PyTorch {torch.__version__}')
print(f'Pandas {pd.__version__}')

/project2/gilad/jpopp/ebQTL/.snakemake/conda/32332238fb63a33da22386aae45abc4e/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: 'rfunc' cannot be imported. R and the 'rpy2' Python package are needed.
PyTorch 1.11.0+cu102
Pandas 1.4.2

In [4]:
plink_prefix_path = "/project2/gilad/jpopp/ebQTL/data/static_qtl_calling/eb_cmstages/pseudobulk_tmm/basic/IPSC/genotypes_filtered_plink"

In [5]:
pr = genotypeio.PlinkReader(plink_prefix_path)
genotype_df = pr.load_genotypes()

Mapping files:   0%|          | 0/3 [00:00<?, ?it/s]
Mapping files:  33%|███▎      | 1/3 [00:02<00:05,  2.84s/it]
Mapping files:  67%|██████▋   | 2/3 [00:03<00:01,  1.34s/it]
Mapping files: 100%|██████████| 3/3 [00:04<00:00,  1.35s/it]

In [7]:
genotype_df

iid,NA18486,NA18489,NA18498,NA18501,NA18502,NA18505,NA18507,NA18508,NA18511,NA18516,...,NA19152,NA19153,NA19159,NA19160,NA19193,NA19204,NA19206,NA19207,NA19210,NA19225
snp,,,,,,,,,,,,,,,,,,,,,
rs74047006,0,0,0,0,0,0,1,0,1,1,...,0,0,0,1,0,0,1,0,0,0
rs12090487,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
rs3094315,1,2,1,1,1,0,2,2,1,1,...,1,0,0,0,0,0,0,1,1,2
rs3131972,1,1,1,1,0,0,2,1,1,1,...,1,0,0,0,0,0,0,1,1,2
rs61770173,2,2,1,1,1,0,2,2,1,2,...,1,0,0,1,0,0,0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
rs6010061,2,0,1,2,1,1,1,2,1,2,...,2,2,0,2,1,0,1,1,2,0
rs9628187,0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,1,2,1,1,0,0
rs6010062,2,1,1,1,2,1,0,1,2,2,...,0,1,1,1,0,0,1,1,1,2
rs6010063,2,1,1,1,2,1,0,1,2,2,...,0,1,1,1,0,0,1,1,1,2
rs3810648,0,0,0,1,1,1,1,0,1,1,...,1,2,0,2,0,0,1,0,1,1