In [1]:
import pandas as pd
import numpy as np

In [2]:
annot_file = "/project2/gilad/jpopp/ebQTL/data/ldsc/baselineLD_v2.2_annot/baselineLD.1.annot.gz"
gtex_subsampled_eqtls_loc = "/project2/gilad/jpopp/ebQTL/results/subset_qtl_calling/significant_hits/8pcs/signif_variant_gene_pairs.tsv"
eb_eqtls_loc = "/project2/gilad/jpopp/ebQTL/results/static_qtl_calling/eb_cellid/pseudobulk_tmm/basic/8pcs/mash-signif_variant_gene_pairs.tsv"

In [3]:
annots = pd.read_csv(annot_file, sep="\t")

How many variants are in the annots file?

In [4]:
annots

,CHR,BP,SNP,CM,base,Coding_UCSC,Coding_UCSC.flanking.500,Conserved_LindbladToh,Conserved_LindbladToh.flanking.500,CTCF_Hoffman,...,Human_Promoter_Villar.flanking.500,Human_Enhancer_Villar,Human_Enhancer_Villar.flanking.500,Ancient_Sequence_Age_Human_Promoter,Ancient_Sequence_Age_Human_Promoter.flanking.500,Ancient_Sequence_Age_Human_Enhancer,Ancient_Sequence_Age_Human_Enhancer.flanking.500,Human_Enhancer_Villar_Species_Enhancer_Count,Human_Promoter_Villar_ExAC,Human_Promoter_Villar_ExAC.flanking.500
0,1,11008,rs575272151,0.000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,11012,rs544419019,0.000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,13110,rs540538026,0.000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,13116,rs62635286,0.000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,13118,rs200579949,0.000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778598,1,248938965,rs374472180,293.397,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
778599,1,248942610,rs548489155,293.397,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
778600,1,248942611,rs569532168,293.397,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
778601,1,248945104,rs573070055,293.397,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
778602,1,248945548,rs376640754,293.397,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
gtex_eqtls = pd.read_csv(gtex_subsampled_eqtls_loc, sep="\t")
eb_eqtls = pd.read_csv(eb_eqtls_loc, sep="\t")

In [6]:
gtex_eqtls_bed = gtex_eqtls[['variant_id', 'tissue']].pivot_table(index='variant_id', columns='tissue', aggfunc=lambda x: 1, fill_value=0).reset_index()

How many GTEx eQTLs

In [7]:
gtex_eqtls_bed

tissue,variant_id,Adipose_Subcutaneous,Adipose_Visceral_Omentum,Adrenal_Gland,Artery_Aorta,Artery_Coronary,Artery_Tibial,Brain_Amygdala,Brain_Anterior_cingulate_cortex_BA24,Brain_Caudate_basal_ganglia,...,Skin_Not_Sun_Exposed_Suprapubic,Skin_Sun_Exposed_Lower_leg,Small_Intestine_Terminal_Ileum,Spleen,Stomach,Testis,Thyroid,Uterus,Vagina,Whole_Blood
0,chr10_100000235_C_T_b38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,chr10_100004827_A_C_b38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,chr10_100007241_C_T_b38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,chr10_100009013_G_A_b38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,chr10_100009635_T_G_b38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98352,chr9_98942455_C_T_b38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98353,chr9_98943127_A_T_b38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98354,chr9_98943129_A_G_b38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98355,chr9_98943155_A_G_b38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98356,chr9_98961615_G_C_b38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
gtex_eqtls_bed['CHR'] = [int(s.split('_')[0][3:]) for s in gtex_eqtls_bed['variant_id']]
gtex_eqtls_bed['BP'] = [int(s.split('_')[1]) for s in gtex_eqtls_bed['variant_id']]
gtex_eqtls_bed = gtex_eqtls_bed.drop(columns=['variant_id'])

In [9]:
gtex_eqtls_bed

tissue,Adipose_Subcutaneous,Adipose_Visceral_Omentum,Adrenal_Gland,Artery_Aorta,Artery_Coronary,Artery_Tibial,Brain_Amygdala,Brain_Anterior_cingulate_cortex_BA24,Brain_Caudate_basal_ganglia,Brain_Cerebellar_Hemisphere,...,Small_Intestine_Terminal_Ileum,Spleen,Stomach,Testis,Thyroid,Uterus,Vagina,Whole_Blood,CHR,BP
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,100000235
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,100004827
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,100007241
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,100009013
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,100009635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98352,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9,98942455
98353,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9,98943127
98354,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9,98943129
98355,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9,98943155
98356,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9,98961615

Create a new df which is just 1 for all of these GTEx eQTLs

In [10]:
gtexcomb_eqtls_bed = gtex_eqtls_bed[['CHR', 'BP']]
gtexcomb_eqtls_bed['GTEx_eQTL'] = 1

/tmp/jobs/29454372/ipykernel_137467/1982455745.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gtexcomb_eqtls_bed['GTEx_eQTL'] = 1

In [11]:
gtexcomb_eqtls_bed

tissue  CHR         BP  GTEx_eQTL
0        10  100000235          1
1        10  100004827          1
2        10  100007241          1
3        10  100009013          1
4        10  100009635          1
...     ...        ...        ...
98352     9   98942455          1
98353     9   98943127          1
98354     9   98943129          1
98355     9   98943155          1
98356     9   98961615          1

[98357 rows x 3 columns]

In [79]:
annots_gtex = annots.merge(gtex_eqtls_bed, on=['CHR', 'BP'], how='left').fillna(0)

In [80]:
annots_gtex

,CHR,BP,SNP,CM,base,Coding_UCSC,Coding_UCSC.flanking.500,Conserved_LindbladToh,Conserved_LindbladToh.flanking.500,CTCF_Hoffman,...,Skin_Not_Sun_Exposed_Suprapubic,Skin_Sun_Exposed_Lower_leg,Small_Intestine_Terminal_Ileum,Spleen,Stomach,Testis,Thyroid,Uterus,Vagina,Whole_Blood
0,1,11008,rs575272151,0.000,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,11012,rs544419019,0.000,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,13110,rs540538026,0.000,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,13116,rs62635286,0.000,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,13118,rs200579949,0.000,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778598,1,248938965,rs374472180,293.397,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
778599,1,248942610,rs548489155,293.397,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
778600,1,248942611,rs569532168,293.397,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
778601,1,248945104,rs573070055,293.397,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
778602,1,248945548,rs376640754,293.397,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
eb_eqtls

      EB_HGNC EB_VARIANT_ID                                        EB_CELLTYPE
0        A1BG    rs10419295  Acinar-cells,Adrenocortical-cells,CNS-glia,CNS...
1        A1BG   rs114403025  Acinar-cells,Adrenocortical-cells,CNS-glia,CNS...
2        A1BG   rs114515295  Acinar-cells,CNS-glia,CNS-neurons,Cardiomyocyt...
3        A1BG   rs114592323  Acinar-cells,Adrenocortical-cells,CNS-glia,CNS...
4        A1BG   rs116805469  Acinar-cells,Adrenocortical-cells,Bronchiolar-...
...       ...           ...                                                ...
84859  ZYG11B    rs10157602  Acinar-cells,CNS-glia,CNS-neurons,Ciliated-epi...
84860  ZYG11B    rs12069504  Acinar-cells,Adrenocortical-cells,CNS-glia,CNS...
84861  ZYG11B    rs12096727  Acinar-cells,Adrenocortical-cells,CNS-glia,CNS...
84862  ZYG11B      rs269299                           Acinar-cells,CNS-neurons
84863  ZYG11B      rs269304             CNS-neurons,Metanephric-cells,PNS-glia

[84864 rows x 3 columns]

In [92]:
eb_eqtls_bed = eb_eqtls[['EB_VARIANT_ID']].drop_duplicates().rename(columns={'EB_VARIANT_ID': 'SNP'})
eb_eqtls_bed['EB'] = 1

In [97]:
annots_gtex_eb = annots_gtex.merge(eb_eqtls_bed, on=['SNP'], how='left').fillna(0)
annots_gtex_eb.iloc[:, -50:] = annots_gtex_eb.iloc[:, -50:].astype(int)

/scratch/local/jobs/7590122/ipykernel_947229/1516478425.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  annots_gtex_eb.iloc[:, -50:] = annots_gtex_eb.iloc[:, -50:].astype(int)

All-but-one analysis

In [99]:
qtls_combined = annots_gtex_eb.iloc[:, -50:]

In [100]:
qtls_combined = qtls_combined.loc[(qtls_combined!=0).any(axis=1)]

In [101]:
qtls_unique = 1 - qtls_combined.rename(columns={t: f'Omit_{t}' for t in qtls_combined.columns})

In [102]:
qtls_unique

,Omit_Adipose_Subcutaneous,Omit_Adipose_Visceral_Omentum,Omit_Adrenal_Gland,Omit_Artery_Aorta,Omit_Artery_Coronary,Omit_Artery_Tibial,Omit_Brain_Amygdala,Omit_Brain_Anterior_cingulate_cortex_BA24,Omit_Brain_Caudate_basal_ganglia,Omit_Brain_Cerebellar_Hemisphere,...,Omit_Skin_Sun_Exposed_Lower_leg,Omit_Small_Intestine_Terminal_Ileum,Omit_Spleen,Omit_Stomach,Omit_Testis,Omit_Thyroid,Omit_Uterus,Omit_Vagina,Omit_Whole_Blood,Omit_EB
1103,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
1111,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
1114,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
1115,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
1117,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774241,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
774243,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
774247,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
774248,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
774251,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0

In [105]:
annots_leave_one_out = annots.join(qtls_unique).fillna(0)
annots_leave_one_out.iloc[:, -50:] = annots_leave_one_out.iloc[:, -50:].astype(int)

/scratch/local/jobs/7590122/ipykernel_947229/1153973210.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  annots_leave_one_out.iloc[:, -50:] = annots_leave_one_out.iloc[:, -50:].astype(int)

In [106]:
annots_leave_one_out

,CHR,BP,SNP,CM,base,Coding_UCSC,Coding_UCSC.flanking.500,Conserved_LindbladToh,Conserved_LindbladToh.flanking.500,CTCF_Hoffman,...,Omit_Skin_Sun_Exposed_Lower_leg,Omit_Small_Intestine_Terminal_Ileum,Omit_Spleen,Omit_Stomach,Omit_Testis,Omit_Thyroid,Omit_Uterus,Omit_Vagina,Omit_Whole_Blood,Omit_EB
0,1,11008,rs575272151,0.000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,11012,rs544419019,0.000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,13110,rs540538026,0.000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,13116,rs62635286,0.000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,13118,rs200579949,0.000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778598,1,248938965,rs374472180,293.397,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
778599,1,248942610,rs548489155,293.397,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
778600,1,248942611,rs569532168,293.397,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
778601,1,248945104,rs573070055,293.397,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
778602,1,248945548,rs376640754,293.397,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [111]:
hm = pd.read_csv("data/ldsc/baseline_omit_eqtl_gtex_signif_annot/baselineLD.", seq(1, 22), ".l2.ldscore.gz", sep="\t")

In [112]:
hm

       CHR         SNP         BP     L2
0        1   rs3094315     817186  7.070
1        1   rs3131972     817341  7.089
2        1   rs3131969     818802  6.981
3        1   rs1048488     825532  7.100
4        1   rs3115850     825767  7.047
...    ...         ...        ...    ...
98571    1   rs4926502  248914941  1.911
98572    1   rs6704311  248916508  8.799
98573    1  rs34013644  248917151  8.868
98574    1  rs12746903  248924793  4.417
98575    1  rs12726733  248928274  1.881

[98576 rows x 4 columns]

In [122]:
snps = pd.read_csv("/project2/gilad/jpopp/ebQTL/data/ldsc/hg38_regression_snp_weight_files/w_hm3.noMHC.snplist", names=['SNP'])

In [115]:
ugh = pd.read_csv("/project2/gilad/jpopp/ebQTL/data/gwas/zhang/sumstats/PASS_IBD_deLange2017.sumstats", sep="\t")

In [123]:
snps

                SNP
0         rs3094315
1         rs3131972
2         rs3131969
3         rs1048488
4         rs3115850
...             ...
1186874  rs13056621
1186875   rs3865766
1186876   rs3888396
1186877   rs2238837
1186878  rs28729663

[1186879 rows x 1 columns]

In [124]:
ugh

                SNP A1 A2      N   CHISQ      Z
0         rs7899632  A  G  59957  3.4299 -1.852
1         rs3750595  A  C  59957  3.3124  1.820
2        rs10786405  T  C  59957  3.4559  1.859
3         rs3793692  A  G  59957  0.1190 -0.345
4          rs737657  A  G  59957  0.0912 -0.302
...             ... .. ..    ...     ...    ...
1150505  rs16918311  A  G  59957  1.4496  1.204
1150506  rs12377244  A  G  59957  0.0003  0.018
1150507  rs12553887  A  G  59957  1.0899 -1.044
1150508  rs10817266  A  G  59957  0.1163 -0.341
1150509  rs10981288  T  C  59957  0.0552 -0.235

[1150510 rows x 6 columns]

In [128]:
snps.merge(ugh, how='left')

                SNP   A1   A2        N   CHISQ      Z
0         rs3094315    A    G  59957.0  4.2518  2.062
1         rs3131972    A    G  59957.0  3.9960 -1.999
2         rs3131969    A    G  59957.0  0.9565 -0.978
3         rs1048488    T    C  59957.0  4.3306  2.081
4         rs3115850    T    C  59957.0  5.1802 -2.276
...             ...  ...  ...      ...     ...    ...
1186874  rs13056621    A    G  59957.0  0.2052 -0.453
1186875   rs3865766    T    C  59957.0  0.4032 -0.635
1186876   rs3888396    T    C  59957.0  0.6131 -0.783
1186877   rs2238837  NaN  NaN      NaN     NaN    NaN
1186878  rs28729663    A    G  59957.0  0.7921 -0.890

[1186879 rows x 6 columns]